
.container {
    text-align: center;
    margin-top: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.smallText {
    font-size: 25px;
    line-height: 1.9;
    color: black;
}

.questions {
color: black;
font-size: 40px;
}

.btnStyle {
    color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: rgb(82, 11, 148);
    border-radius: 8px;
    height: 50px;
    width: 150px;
}

ul, li {
    list-style-type: none;
}

.multi-choice {
    color: rgb(255, 255, 255);
    background: rgb(82, 11, 148);
    font-size: 30px;
    border-radius: 8px;
    height: 50px;
    width: 400px;
    margin:0px auto;
    margin-top: 30px;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.2s;
}

.multi-choice:hover {
    box-shadow: inset 0 0 100px 100px rgb(195, 0, 255);
}

button:hover {
    box-shadow: 0 3px rgb(0, 0, 0);
    top: -2;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    color: rgb(132, 0, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#black {
    color: black;
}

#time {
    color: rgb(168, 1, 1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

#score {
    cursor: pointer;
    transition: background-color 0.2s;
}